asgiref==3.5.2
backports.zoneinfo==0.2.1
distlib==0.3.6
Django==4.0
django-decouple==2.1
filelock==3.8.2
mysql-connector-python==8.0.31
pbr==5.11.0
platformdirs==2.5.4
python-decouple==3.6
sqlparse==0.4.3
stevedore==4.1.1
tzdata==2022.7
virtualenv==20.17.1
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
